/* Import font icons */
@font-face {
    font-family: "brands";
    src: url("../fonts/fa-brands-400.eot");
    src: url("../fonts/fa-brands-400.eot?#iefix") format("embedded-opentype"),
        url("../fonts/fa-brands-400.woff") format("woff"),
        url("../fonts/fa-brands-400.ttf") format("truetype"),
        url("../fonts/fa-brands-400.svg#brands") format("svg");
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: "logofont";
    src: url("../fonts/logofont.otf") format("opentype");
        font-weight: normal;
        font-style: normal;
}

:root {
    --scarlet: #793236;
    --backwhite: rgba(255, 255, 255, 0.925);
}

html {
box-sizing: border-box;
font-family: Montserrat, Verdana, Tahoma, Sans-Serif;
font-weight: normal;
color: black;
}

*,
*:before,
*:after {
box-sizing: inherit;
}

body {
margin: 0;

}

/* Navigation bar */

.main-header {
    width: 100%;
    display: grid;
    position: fixed;
    margin: 0 auto;
    background-color: var(--backwhite);
    z-index: 1;
    left: 50%;
    transform: translate(-50%, 0);
}

.navigation-bar {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr auto 1fr;
    grid-row: 2 /span 1;
}

.navigation-bar a {
    grid-column: 2 / span 1;
}

.logo {
    width: 150px;
    display: block;
    margin: 30px auto 20px auto;
}

.stlog0 {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    animation: dash 5s linear;
  }
  
  @keyframes dash {
    from {
      stroke-dashoffset: 1000;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  
.circle-nav {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: var(--scarlet) 5px solid;
    margin: 10px auto;
    background-color: transparent;
    grid-column: 2 / span 1;
}

.navigation-list {
    grid-row: 1;
    align-items: center;
    display: flex;
}

.navigation-list-left {
    grid-column: 1 / span 1;
    justify-content: flex-end;
}

.navigation-list-right {
    grid-column: 3 / span 1;
}

.navigation-bar div a {
    font-size: 1.1em;
    text-decoration: none;
    color: black;
    padding: 0;
    margin: 0 12px;
    transition: 0.4s ease;
}

.navigation-bar div a:hover {
    font-weight: bold;
    border-bottom: 3px solid var(--scarlet);
    text-shadow: none;
}

.logo:hover {
    animation: beat 0.7s infinite alternate;
}

@keyframes beat{
	to { transform: scale(1.2); }
}

/* Main grid for rest of sections */

main {
    text-align: center;
    display: grid;
    grid-template-columns: 15fr 80fr 15fr;
}

.section-titles {
    text-align: center;
    padding: 170px 0 10px 0;
}

/* Home section */
.home {
    height: 100%;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    grid-column: 1 /-1;
}

.home .skyline {
    width: 300%;
}

/* Skyline animation */

// #Buildings {
//     animation: mymove 5s infinite;
//     position: relative;
// }

// #Buildings.buildings {
//     transform: translateX(-3000px);
// }

// #Buildings.buildings {
//     animation: mymove 20s infinite;
// }

// #Clouds.clouds {
//     transform: translateX(100px);
//     transition: 10s;
// }

// #Cloud1.clouds {
//     transform: translateX(1000px);
//     transform: scale(1.5);
//     transition: 100s;
// }

// #Cloud2 {
//     transform: translateX(-3000px);
//     transition: 40s;
// }

// #Cloud3 {
//     transform: translateX(-3000px);
//     transition: 40s;
// }

// #Cloud4 {
//     transform: translateX(-3000px);
//     transition: 40s;
// }

// #Cloud5.clouds {
//     transform: scale(1.3);
//     transition: 40s;
// }

// #Cloud6.clouds {
    
//     transition: 40s;
// }

/* Arch portfolio section */

.arch {
    grid-column: 2 / -2;
}

.thumbnail-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-template-rows: repeat(3, minmax(200px, 1fr));
    grid-gap: 30px;
}   

.thumbnail-list li {
    cursor: pointer;
    border: 1px dotted black;
    border-radius: 20px;
    padding: 20px;
    position: relative;
}

.thumbnail-list li:focus {
    background-color: aqua;
}

.back-side .front-side{
    position: absolute;
    backface-visibility: hidden;
}

.back-side {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.80em;
    transition: 0.3s ease;
}

.thumbnail-image {
    width: 100%;
    transition: 1s ease;
}

.thumbnail-item {
    display: inline-block;

    border: 1px solid rgb(100%, 100%, 100%);
    border: 1px solid rgba(100%, 100%, 100%, 0.8);
}

.arch-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 20px;
    transition: 1s ease;
}

.thumbnail-list li:hover {
    border: 1px solid black;
}

.thumbnail-list li:hover .arch-overlay {
    opacity: 1;
}

.thumbnail-list li:hover .thumbnail-image {
    transform: scale(1.4);
}

.thumbnail-list li:hover .back-side {
    border-bottom: 1.5px solid var(--scarlet);
}

.arch-overlay button {
    position: absolute;
    left: 50%;
    top: 50%;
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
    background: var(--scarlet);
    font-size: 1em;
    padding: 10px;
    text-align: center;
    transform: translate(-50%, -50%);
}

/* Websites section */

.websites {
    grid-column: 2 / -2;
}

.websites-list {
    list-style-type: none;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    padding: 0;
}

.websites-item {
    cursor: pointer;
    display: inline-block;
    border: 1px dotted black;
    overflow: hidden;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
}

.websites-item a img {
    text-decoration: none;
    margin: 0;
    padding-bottom: 10px;
    transition: 1s ease;
    width: 100%;
}

.website-name {
    display: inline-block;
    transition: 0.5s ease;
}

.websites-list li:hover {
    border: 1px solid black;
}

.websites-list li:hover .website-name {
    border-bottom: 1.5px solid var(--scarlet);
    background: rgba(255, 255, 255, 0.8);
    position: relative;
    z-index: 1000;
}

.websites-item:hover a img {
    transform: scale(1.4);
}

/* About section */

.about {
    grid-column: 2 / -2;
}

.about-content {
    display: flex;
    background-color: var(--scarlet);
    border-radius: 20px;
    padding: 100px 20px 20px 20px;
    color: white;
}

.column {
    width: 50%;
    padding: 0 20px;
    text-align: justify;
    text-justify: auto;
}

.h3-about {
    text-align: center;
    font-size: 1em;
    margin-top: 50px;
}

.cv-download {
    display: flex;
    align-content: center;
}

.cv-download a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    width: 50%;
    padding: 5px 0;
    align-content: flex-end
}

.a-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 15px;
}

.a-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
}

.cv-download a span {
    font-size: 0.8em;
    margin-top: 10px;
    color: white;
}

.span-left {
    margin-right: 15px;
}

.cv-download a span:hover {
    text-decoration: underline;
}

.cv-logo {
    width: 30%;
}

/* Contact section */

.contact {
    text-align: center;
    box-sizing: border-box;
    grid-column: 2 / -2;
}

form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.name-email {
    display: flex;
    padding: 20px 0;
    margin: 0 auto;
    width: 100%;
}

label {
    display: none;
}

input[type=text] {
    border: 1px solid black;
    padding: 11px 21px;
    width: 50%;
    border-radius: 20px;
}

#name {
    margin-right: 10px;
}

#email {
    margin-left: 10px;
}

input[type=text]:focus {
    border: 2px solid var(--scarlet);
    box-shadow: none;
    outline: 0;
}

textarea {
    width: 100%;
    padding: 11px 21px;
    box-sizing: border-box;
    border: 1px solid black;
    resize: none;
    border-radius: 20px;
}

textarea:focus {
    border: 2px solid var(--scarlet);
    outline: 0;
}

input[type=submit] {
    padding: 10px;
    margin: 15px 0;
    border: 2px solid var(--scarlet);
    background: none;
    font-weight: bold;
    font-size: 1em;
    border-radius: 20px;
}

input[type=submit]:hover {
    background-color: var(--scarlet);
    color: white;
    cursor: pointer;
}

/* Footer section */

footer {
    width: 100%;
    font-family: brands, sans-serif;
    margin-top: 50px;
    text-align: center;
    box-sizing: border-box;
}

footer ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0;
    margin-top: 5px;
}

footer ul li:nth-child(2) {
    padding: 0 20px;
}

footer ul li:hover a{
    color: var(--scarlet);
}

footer ul li a {
    font-family: brands, sans-serif;
    font-size: 2em;
    color: #000;
    text-decoration: none;
}

.signature {
    font-size: .7em;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
}

.logotype {
    font-family: logofont, Montserrat, sans-serif;
    font-size: 1.4em;
}

.w-logo {
    color:var(--scarlet);
}

.typewrite {
    font-weight: bold;
    color:var(--scarlet);
}

/*
*
* Media queries
*
*
*/

/* Media query max 2048px width */

@media screen and (max-width: 1024px) {

    /* Nav bar */

    .main-header {
        background: none;
    }

    .main-header a {
        background: var(--backwhite);
    }

    .main-header div a {
        background: var(--backwhite);
        padding: 5px 10px;
        border-bottom: 1px solid var(--scarlet);
    }
    
    .navigation-bar {
        display: block;

    }

    .navigation-bar div div {
        padding: 10px;
    }

    .circle-nav {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: 1s ease;
        border: 7px solid var(--scarlet);
        background: var(--backwhite);
    }

    .circle-nav:hover {
        transform: scale(1.1);
        border-radius: 0%;
    }

    .navigation-list {
        opacity: 0.5;
        display: flex;
        flex-direction: column;
        position: relative;
        top: -400px;
        transition: 1s ease;
    }

    .navigation-list-left {
        padding-top: 10px;
    }

    .navigation-list.show-bar {
        opacity: 1;
        font-size: 1.3em;
        top: 0;
    }

    /* Home section */
    .home .skyline {
        width: 600%;
    }

    /* Architecture section */

    .thumbnail-list {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }      
    
    /* websites section */
    
    .websites-list {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    /* About section */

    .about-content {
        display: block;
        padding: 0 25px 0 25px ;
    }

    .about-content div:first-child {
        padding-top: 30px;
    }

    .about-content div:last-child {
        padding-bottom: 30px;
    }

    .column {
        width: 100%;
        padding: 0;
        text-align: justify;
    }

    .cv-download {
        display: flex;
        align-content: center;
    }

    /* Contact */
    
    .name-email {
        display: block;
        padding: 20px 0 0 0;
    }
    
    input[type=text] {
        width: 100%;
    }
    
    #name {
        margin: 7px 0;
        box-sizing: border-box;
    }
    
    #email {
        margin: 7px 0;
        box-sizing: border-box;
    }
    
    textarea {
        margin: 7px 0;
    }
    
    input[type=submit] {
        background-color: var(--scarlet);
        color: white;
    }
}

/* Media query max 1024px width */

@media screen and (max-width: 1024px) {

    /* Home section */
    .home .skyline {
        width: 400%;
    }

    /* Architecture section */

    .thumbnail-list {
        grid-template-columns: repeat(3,1fr);
        grid-gap: 30px;
    }

    /* Websites section */

    .websites-list {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
}

/* Media query max 741px width */

@media screen and (max-width: 741px) {

    /* Home section */
    .home .skyline {
        width: 600%;
    }

    /* Architecture section */

    .thumbnail-list {
        grid-template-columns: repeat(2,1fr);
        grid-gap: 30px;
    }

    /* Websites section */

    .websites-list {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

}

/* Media query max 471px width */

@media screen and (max-width: 471px) {

    /* Home section */
    .home .skyline {
        width: 900%;
    }

    /* Architecture section */

    .thumbnail-list {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    
    /* Websites section */

    .websites-list {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
}










/*
*
* Lightbox styles
*
*
*/

html.lb-disable-scrolling {
    overflow: hidden;
    /* Position fixed required for iOS. Just putting overflow: hidden; on the body is not enough. */
    position: fixed;
    height: 100vh;
    width: 100vw;
  }
  
  .lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    display: none;
  }
  
  .lightbox {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10000;
    text-align: center;
    line-height: 0;
    font-weight: normal;
  }
  
  .lightbox .lb-image {
    display: block;
    height: auto;
    max-width: inherit;
    max-height: none;
    border-radius: 3px;
  
    /* Image border */
    border: 4px solid white;
  }
  
  .lightbox a img {
    border: none;
  }
  
  .lb-outerContainer {
    position: relative;
    *zoom: 1;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 4px;
  
    /* Background color behind image.
       This is visible during transitions. */
    background-color: white;
  }
  
  .lb-outerContainer:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .lb-loader {
    position: absolute;
    top: 43%;
    left: 0;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
  }
  
  .lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url(img/loading.gif) no-repeat;
  }
  
  .lb-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
  }
  
  .lb-container > .nav {
    left: 0;
  }
  
  .lb-nav a {
    outline: none;
    background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
  }
  
  .lb-prev, .lb-next {
    height: 100%;
    cursor: pointer;
    display: block;
  }
  
  .lb-nav a.lb-prev {
    width: 34%;
    left: 0;
    float: left;
    background: url(img/prev.png) left 48% no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
  }
  
  .lb-nav a.lb-prev:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  
  .lb-nav a.lb-next {
    width: 64%;
    right: 0;
    float: right;
    background: url(img/next.png) right 48% no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
  }
  
  .lb-nav a.lb-next:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  
  .lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
    *zoom: 1;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  
  .lb-dataContainer:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .lb-data {
    padding: 0 4px;
    color: #ccc;
  }
  
  .lb-data .lb-details {
    width: 85%;
    float: left;
    text-align: left;
    line-height: 1.1em;
  }
  
  .lb-data .lb-caption {
    font-size: 13px;
    font-weight: bold;
    line-height: 1em;
  }
  
  .lb-data .lb-caption a {
    color: #4ae;
  }
  
  .lb-data .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 12px;
    color: #999999;
  }
  
  .lb-data .lb-close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: url(img/close.png) top right no-repeat;
    text-align: right;
    outline: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  
  .lb-data .lb-close:hover {
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  